h1.on {
  color: #f00;
}

h2.on {
  color: #f00;
}

.GNB {
  border-top: 5px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.GNB>ul {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.GNB>ul a {
  display: block;
}

.GNB>ul>li {
  position: relative;
}

.GNB li .smenu {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: #f7f7f7;
  width: 150px;
  text-align: center;
  border: 4px solid #369;
  line-height: 35px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.GNB li:hover .smenu {
  top: 40px;
  opacity: 1;
  visibility: visible;
}

.GNB .smenu>li~li {
  border-top: 1px solid #ddd;
}